<div class="progress-info transfer-file" data-fid="<%= transfer_file.id %>"><!--
  --><%= fa_icon 'fa fa-circle-o-notch fa-spin' %><!--
  --><div class="file-progress">
    <span class="name" title="<%= transfer_file.name %>"><%= transfer_file.name %></span>
  </div><!--
  --><%= link_to t('helpers.actions.destroy'), file_path(transfer_file, format: :js), class: :remove, data: {method: :delete, confirm: t('confirm.text'), remote: true} %><!--
--></div>
