<% level ||= 1 %>
<li class="<%= folder_classes(folder) %> level-<%= level %> <%= (current_user.admin? or !folder.global?) ? "droppable" : "" %>" id="folder-<%= folder.id %>" data-context data-context-ajax="<%= context_path %>" data-fid="<%= folder.id %>">
  <%= content_tag :span do %>
    <%= link_to fa_icon('caret', text: folder.name), items_path(folder: folder.id) %>
  <% end %>
  <%= content_tag :ul do %>
    <%= render folder.subfolders, level: (level+1) %>
  <% end if folder.has_subfolders? %>
</li>
