<li class="row folder" id="folder-<%= folder.id %>" data-context="true" data-context-ajax="<%= context_path %>" data-url="<%= items_path(folder: folder.id) %>">
  <div class="name columns small-11">
    <%= f.select_box :fid, folder %>
    <%= fa_icon 'folder-open', text: folder.name %>
  </div>
  <a href="" data-context-button><%= fa_icon('ellipsis-h') %></a>
</li>
