<div id="bg-manage">
  <div class="row">
    <%= form_for @background, html: { multipart: true, class: 'columns small-6 small-offset-3 center' } do |f| %>
      <div class="columns small-12"><%= image_tag @background.image.url(:thumbnail) %></div>
      <div class="row">
        <center><h5>Wybierz, w którym miejscach tło ma być dostepne</h5></center>
        <div class="columns small-12 field">
          <%= f.label :upload, class: 'custom-check-box' do %>
            <%= f.check_box :upload %><i></i>
          <% end %>
          <%= f.label :upload, class: 'for-check-box' %>
        </div>
        <div class="columns small-12 field">
          <%= f.label :download, class: 'custom-check-box' do %>
            <%= f.check_box :download %><i></i>
          <% end %>
          <%= f.label :download, class: 'for-check-box' %>
        </div>
      </div>
      <div class="row">
        <center><h5>Podlinkuj tło</h5></center>
        <div class="columns small-12">
          <%= f.label :link %>
          <%= f.text_field :link %>
        </div>
      </div>
      <div class="row">
        <div class="columns small-6 small-offset-3 center">
          <%= f.submit 'Zapisz', class: 'button round' %>
          <%= link_to 'Powrót', backgrounds_path, class: 'button round' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

