<div id="bg-manage">
  <% if can? :create, Background %>
    <div class="row text-center">
      <div class="columns small-12">
        <h4><%= link_to t('.add_new'), new_background_path %></h4>
      </div>
    </div>
  <% end %>

  <% if can? :read, Background %>
    <div id="bg-show">
      <div class="row">
        <div class="columns small-3"><%= t('.mini') %></div>
        <div class="columns small-1"><%= t('.upload') %></div>
        <div class="columns small-1"><%= t('.download') %></div>
        <div class="columns small-5"><%= t('.link') %></div>
        <div class="columns small-1"><%= t('.edit') %></div>
        <div class="columns small-1"><%= t('.delete') %></div>
      </div>
      <% @backgrounds.each_with_index do |bg, i| %>
        <div class="row<%= i.odd? ? ' odd' : '' %>">
          <div class="columns small-3"><%= image_tag bg.image.url(:thumbnail) %></div>
          <div class="columns small-1"><%= bg.upload ? t('.yes_text') : t('.no_text') %></div>
          <div class="columns small-1"><%= bg.download ? t('.yes_text') : t('.no_text') %></div>
          <div class="columns small-5"><%= bg.link.nil? ? '' : link_to(bg.link, bg.link) %></div>
          <div class="columns small-1"><%= link_to fa_icon('pencil'), edit_background_path(bg) %></div>
          <div class="columns small-1"><%= link_to fa_icon('times'), background_path(bg), method: :delete %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
