<% title [t('meta.title'), '::', t('.title') ] * ' ' %>
<div id="unlock-box" class="center-box">
  <h2><%= t '.title' %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name)) do |f| %>

    <%= render partial: 'l/partials/errors', object: resource.errors, locals: { class_name: :alert } %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <%= f.button t('.submit') %>
  <% end %>

  <%= render partial: "devise/shared/links" %>
</div>
