<%= form_for(@user, remote: true) do |f| %>
  <h3><%= t(".title.#{f.object.new_record? ? 'new' : 'edit'}") %></h3>
  <%= render partial: 'l/partials/errors', object: @user.errors %>
  <div class="group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :max_upload_size %>
      <%= f.number_field :max_upload_size, step: 0.1 %>
    </div>
    <div class="field">
      <%= f.label :max_transfer_size %>
      <%= f.number_field :max_transfer_size, step: 0.1 %>
    </div>
    <div class="field">
      <%= f.label :groups %>
      <% Group.sorted_with_translation.each do |group| %>
        <%= f.label :"group_ids_#{group.id}", class: 'selectable-checkbox' do %>
          <%= f.check_box :group_ids, { multiple: true, checked: f.object.belongs_to_group?(group.name) }, group.id, nil  %>
          <span><%= group.title %></span>
        <% end %>

      <% end %>
      <%# f.collection_select :group_ids, Group.sorted_with_translation, :id, :title, {}, {multiple: true} %>
    </div>
  </div>
  <div class="actions">
    <%= f.button nil, class: [:button, :tiny, :secondary] %>
    <%= link_to t('.cancel'), '#', data: { reveal_close: true }, class: [:button, :tiny] %>
  </div>
<% end %>
