<% title t('users.index.title') %>

<p id="notice"><%= notice %></p>

<ul>
  <% @users.each do |user| %>
    <ul class="<%= cycle('odd', 'even') %>">
      <div><%= user.email %></div>
      <div><%= user.groups.map(&:title).join(', ') %></div>
      <div class="options">
        <%= link_to t('show'), user, class: "show", title: t('show'), target: '_blank' %>
        <%= link_to t('edit'), edit_user_path(user), class: "edit", title: t('edit') %>
        <%= link_to t('destroy'), user, class: "destroy", title: t('destroy'), data: {confirm: t('confirm'), method: :delete } %>
      </div>
    </li>
  <% end %>
</ul>
