<%= form_for(@item, html: {data: {remote: true}}) do |f| %>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'tags-autocomplete' %>
  </div>

  <%= button_tag t('.submit'), class: [:button, :tiny, :secondary] %>
  <%= link_to t('.cancel'), '#', class: [:button, :tiny], data: {reveal_close: true} %>
<% end %>
