<% title [t('meta.title'), '::', t('.title') ] * ' ' %>

<div class="row">
  <div class="small-10 small-centered medium-8 large-6 columns">
    <h2><%= t('.title') %></h2>

    <%= content_tag :div, class: 'alert-box warning', data: {alert: true} do %>
      <%= alert %>
      <%= link_to raw('&times;'), '#', class: :close %>
    <% end unless alert.blank? %>
    <%= content_tag :div, class: 'alert-box success', data: {alert: true} do %>
      <%= notice %>
      <%= link_to raw('&times;'), '#', class: :close %>
    <% end unless notice.blank? %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: :custom}) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, tabindex: 1, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, tabindex: 2 %>
      </div>
      <%- if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, tabindex: 3 %>
        <%= f.label :remember_me %>
      </div>
      <%- end -%>
      <%= f.button t('.submit'), tabindex: 4 %>
    <% end %>

    <%= render partial: "devise/shared/links" %>

  </div>
</div>
