<%= form_for(@item, remote: true) do |f| %>
<%= render partial: 'l/partials/errors', object: @item.errors %>
  <div class="group">
    <% if f.object.object? %>
    <div class="field">
      <%= f.label :thumb %>
      <%= image_tag f.object.thumb %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <% if !@item.shared_for?(current_user) %>
      <% if (current_user.admin? or !@item.folder.global?) %>
        <div class="field">
          <%= f.label :folder_id %>
          <%= f.select :folder_id, options_from_collection_for_select(current_user.folders, :id, :name) %>
        </div>
      <% end %>
    <% end %>
    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags, class: 'tags-autocomplete' %>
    </div>
  </div>
<div class="actions">
  <%= f.button %>
</div>
<% end %>
