<%= form_for(@item) do |f| %>
<%= render partial: 'l/partials/errors', object: @item.errors %>
  <div class="group">
    <% if f.object.object? %>
    <div class="field">
      <%= f.label :thumb %>
      <%= image_tag f.object.thumb %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name  %>
    </div>
    <div class="field">
      <%= f.label :object %>
      <%= f.file_field :object  %>
    </div>
    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags, class: 'tags-autocomplete'  %>
    </div>
  </div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
