<li class="row item-<%= item.id %> <%= !item.shared_for?(current_user) ? ((current_user.admin? or !item.folder.global?) ? "draggable" : "") : "" %>" id="item-<%= item.id %>" data-context="true">
  <div class="name columns small-6"><%= fa_icon 'file', text: item.name %></div>
  <div class="size columns small-2"><%= number_to_human_size item.object_file_size %></div>
  <div class="date columns small-3" title="<%= l item.created_at, format: :long %>">
    <%= l item.created_at, format: :short %>
  </div>
  <div class="actions" data-context-target="true">
    <%= link_to t('show'), item, class: 'show', data: {remote: true} if can? :read, item %>
    <%= link_to t('edit'), edit_item_path(item), class: 'edit', data: {remote: true} if can? :edit, item %>
    <%= link_to t('download'), item.object.url(:original), class: 'download', data: {method: :get} %>
    <%= link_to t('share'), share_item_path(item, format: :js), class: "share", data: { method: :put, remote: true } if can? :share, item %>
    <%= link_to t('destroy'), item, class: "destroy", data: { confirm: t('confirm.text'), method: :delete, remote: true } if can? :destroy, item %>
  </div>
</li>
