<li class="row item draggable" id="item-<%= item.id %>" data-context="true" data-context-ajax="<%= context_path %>">
  <div class="name columns small-7">
    <%= f.select_box :id, item %>
    <%= fa_icon 'file-o 2', text: item.name, data: {extension: item.extension} %>
  </div>
  <div class="size columns small-2 text-center"><%= number_to_human_size item.object_file_size %></div>
  <div class="date columns small-3 text-center" title="<%= l item.updated_at, format: :long %>">
    <%= l item.updated_at, format: :short %>
  </div>
  <a href="" data-context-button><%= fa_icon('ellipsis-h') %></a>
</li>
