<% if can? :create, @item %>
<%= form_tag items_path(format: :json) do %>
<ul class="breadcrumbs">
  <% folders_breadcrumbs(@current_folder).each do |flink| %>
  <li><%= flink %></li>
  <% end %>
</ul>
<section class="group">
  <%= hidden_field_tag 'item[folder_id]', @current_folder.try(:id) %>
  <div class="fileupload-dropzone">
  <%= file_field_tag('item[object]', multiple: true, class: 'fileupload', data: { value: t('.fileupload', default: 'Select files'), file_upload: true }) %>
    <p><%= t('.or_drop') %></p>
</section>
<section class="group" id="upload-in-progress">

</section>
<% end %>

<% end %>
