<%= form_tag share_item_path(@item), method: :put, remote: true do %>
  <div class="field">
    <%= label_tag :search_collaborator, t('.search_collaborator') %>
    <%= text_field_tag :search_collaborator %>
  </div>

  <ul id="share_users">
    <% @item.users.each do |user| %>
    <li>
      <%= hidden_field_tag 'with[users][]', user.id, id: "with_users_#{user.id}" %>
      <%= user.name %>
      <%= link_to t('destroy'), '#', class: :remove %>
    </li>
    <% end %>
  </ul>

  <ul id="share_groups">
    <% @item.groups.each do |g| %>
    <li>
      <%= hidden_field_tag 'with[groups][]', g.id, id: "with_groups_#{g.id}"  %>
      <%= g.name %>
      <%= link_to t('destroy'), '#', class: :remove %>
    </li>
    <% end %>
  </ul>

  <%= button_tag t('.submit'), disable_with: t('.wait') %>
<% end %>
