<% title t('.title') %>

<div class="row collapse">
  <section id="left-menu" class="columns hide-for-small medium-4 large-4">
    <ul>
      <li>
        <h3 class="<%= current_user.admin? ? "droppable" : "" %>" id="folder-<%= @global_folder.id %>"><%= link_to t('.public'), items_path %></h1>
        <ul class="folders-list" id="root-folders">
          <%= render @global_folder.subfolders %>
        </ul>
      </li>
    <% if @user_folder %>
      <li>
        <h3 class="droppable" id="folder-<%= @user_folder.id %>"><%= link_to t('.private'), items_path(folder: :user) %></h1>
        <ul class="folders-list" id="user-folders">
          <%= render @user_folder.subfolders %>
        </ul>
      </li>
    <% end %>
    <% if @shared_folders.any? || current_user.has_shared_items?  %>
      <li>
        <h1><%= link_to t('.shared'), items_path(folder: :shared) %></h1>
        <ul class="folders-list" id="user-folders">
          <%= render @shared_folders %>
        </ul>
      </li>
    <% end %>
    </ul>
  </section>
  <section id="files" class="columns small-12 medium-8 large-8  text-right">
    <div class="buttons ">
      <%= link_to t('.upload'), '#', class: :button, data: {:'reveal-id' => 'multiupload-files-modal'} if can? :create, @item  %>
      <%= link_to t('.new_folder'), '#', class: :button, data: {:'reveal-id' => 'new-folder-modal'} if can? :create, @folder %>
    </div>
    <ul class="file-list" id="items-list" data-url="<%= url_for((params || {}).merge(partial: true)) %>">
      <%= render @items %>
    </ul>

  </section>
</div>

<div id="multiupload-files-modal" title="<%= t('.upload') %>" data-reveal class="reveal-modal small">
  <%= render :partial => 'multiupload' %>
</div>

<div id="new-folder-modal" title="<%= t('.new_folder') %>" data-reveal class="reveal-modal small">
  <%= render partial: 'folders/form' %>
</div>
