<% title t('items.index.title') %>

<section>
  <h1><%= link_to t('.public'), items_path %></h1>
  <ul class="folders-list" id="root-folders">
    <%= render @global_folder.subfolders %>
  </ul>
</section>
<% if @user_folder %>
<section>
  <h1><%= link_to t('.private'), items_path(folder: :user) %></h1>
  <ul class="folders-list" id="user-folders">
    <%= render @user_folder.subfolders %>
  </ul>
</section>
<% if @shared_folders.any? || current_user.has_shared_items?  %>
<section>
  <h1><%= link_to t('.shared'), items_path(folder: :shared) %></h1>
  <ul class="folders-list" id="user-folders">
    <%= render @shared_folders %>
  </ul>
</section>
<% end %>
<% end %>

<section id="files">
  <header>
    <%= link_to_function t('.upload'), 'Sakve.file_multiupload_open()', class: :button if can? :create, @item  %>
    <%= link_to_function t('.new_folder'), 'Sakve.folder_creation_open()', class: :button if can? :create, @folder %>
  </header>
  <ul class="file-list" id="items-list" data-url="<%= url_for((params || {}).merge(partial: true)) %>">
    <%= render @items %>
  </ul>

  <div id="multiupload-files-dialog" title="<%= t('.upload') %>" class="dialog-box">
    <%= render :partial => 'multiupload' %>
  </div>

  <div id="new-folder-dialog" title="<%= t('.new_folder') %>" class="dialog-box">
    <%= render partial: 'folders/form' %>
  </div>
</section>
