<% title t('.title') %>
<% content_for(:buttons) do %>
  <div class="for-all">
    <%= link_to fa_icon('cloud-upload', text: t('.upload')), '#', class: [:button, :tiny, :secondary], data: {:'reveal-id' => 'multiupload-files-modal'} if can? :create, @item  %>
    <%= link_to fa_icon('folder-open', text: t('.new_folder')), '#', class: [:button, :tiny], data: {:'reveal-id' => 'new-folder-modal'} if can? :create, @folder %>
    <%= render 'partials/search' %>
  </div>
  <div class="for-selection">
  </div>
<% end %>

<div class="row collapse">
  <section id="folders-list" class="columns hide-for-small medium-4 large-2 folders-tree">
    <ul>
      <li class="<%= folder_classes(@global_folder) %>">
        <h3 class="<%= current_user.admin? ? "droppable" : "" %>" id="folder-<%= @global_folder.id %>">
          <%= link_to items_path do %>
            <%= fa_icon 'caret', text: t('.public') %>
          <% end %>
        </h3>
        <ul class="folders-list" id="root-folders">
          <%= render @global_folder.subfolders %>
        </ul>
      </li>
    <% if @user_folder %>
      <li class="<%= folder_classes(@user_folder) %>">
        <h3 class="droppable" id="folder-<%= @user_folder.id %>">
          <%= link_to fa_icon('caret', text: t('.private')), items_path(folder: :user) %>
        </h3>
        <ul class="folders-list" id="user-folders">
          <%= render @user_folder.subfolders %>
        </ul>
      </li>
    <% end %>
    <% if @shared_folders.any? || current_user.has_shared_items?  %>
      <li class="folder not-empty <%= 'open' if @current_folder.try(:shared_for?,current_user) %> <%= 'current' if @current_folder.nil? %>">
        <h3><%= link_to fa_icon('caret', text: t('.shared')), items_path(folder: :shared) %></h3>
        <ul class="folders-list" id="user-folders">
          <%= render @shared_folders %>
        </ul>
      </li>
    <% end %>
    </ul>
  </section>
  <section id="files" class="columns small-12 medium-8 large-10 end">
    <div class="row sortbar">
      <div class="small-7 medium-7 large-7 columns text-center">
        <%= sort_link :name, t('.sort.name') %>
      </div>
      <div class="small-2 medium-2 large-2 columns text-center">
        <%= sort_link :size, t('.sort.size') %>
      </div>
      <div class="small-3 medium-3 large-3 columns text-center">
        <%= sort_link :date, t('.sort.date') %>
      </div>
    </div>
    <%= form_for :selection do |f| %>
    <ul class="file-list" id="items-list">
      <% @subfolders.each do |folder| %>
        <%= render 'folders/list_folder', folder: folder, f: f %>
      <% end %>
      <%= render @items, f: f %>
    </ul>
    <% end %>

  </section>
</div>

<div id="multiupload-files-modal" title="<%= t('.upload') %>" data-reveal class="reveal-modal small">
  <%= render :partial => 'multiupload' %>
</div>

<div id="new-folder-modal" title="<%= t('.new_folder') %>" data-reveal class="reveal-modal small">
  <%= render partial: 'folders/form' %>
</div>
