<% title t('items.index.title') %>

<section>
  <h1>Global folders</h1>
  <ul class="folders-list" id="root-folders">
    <%= render @folders %>
  </ul>
</section>

<section>
  <h1>User folders</h1>
  <ul class="folders-list" id="user-folders">
    <%= render @user_folders %>
  </ul>
</section>


<header>
  <%= link_to_function t('.upload'), 'Sakve.file_multiupload_open()', class: :button %>
  <%= link_to_function t('.new_folder'), 'Sakve.folder_creation_open()', class: :button %>
</header>
<ul class="file-list" id="items-list" data-url="<%= url_for((params || {}).merge(partial: true)) %>">
  <%= render @items %>
</ul>

<div id="multiupload-files-dialog" title="<%= t('.upload') %>" class="dialog-box">
  <%= render :partial => 'multiupload' %>
</div>

<div id="new-folder-dialog" title="<%= t('.new_folder') %>" class="dialog-box">
  <%= render partial: 'folders/form' %>
</div>
