<% title t('items.index.title') %>

<section id="left-menu">
  <ul>
    <li>
      <h1 id="folder-<%= @global_folder.id %>"><%= link_to t('.public'), items_path %></h1>
      <ul class="folders-list" id="root-folders">
        <%= render @global_folder.subfolders %>
      </ul>
    </li>
  <% if @user_folder %>
    <li>
      <h1 id="folder-<%= @user_folder.id %>"><%= link_to t('.private'), items_path(folder: :user) %></h1>
      <ul class="folders-list" id="user-folders">
        <%= render @user_folder.subfolders %>
      </ul>
    </li>
  <% end %>
  <% if @shared_folders.any? || current_user.has_shared_items?  %>
    <li>
      <h1><%= link_to t('.shared'), items_path(folder: :shared) %></h1>
      <ul class="folders-list" id="user-folders">
        <%= render @shared_folders %>
      </ul>
    </li>
  <% end %>
  </ul>
</section>
<section id="files">
  <header class="buttons">
    <%= link_to_function t('.upload'), 'Sakve.file_multiupload_open()', class: :button if can? :create, @item  %>
    <%= link_to_function t('.new_folder'), 'Sakve.folder_creation_open()', class: :button if can? :create, @folder %>
  </header>
  <header class="bread">
    <span><%= t('.breadcrumbs') %></span>
    <ul class="breadcrumbs">
      <% folders_breadcrumbs(@current_folder).each do |flink| %>
        <li><%= flink %></li>
      <% end %>
    </ul>
  </header>
  <ul class="file-list" id="items-list" data-url="<%= url_for((params || {}).merge(partial: true)) %>">
    <%= render @items %>
  </ul>

  <div id="multiupload-files-dialog" title="<%= t('.upload') %>" class="dialog-box">
    <%= render :partial => 'multiupload' %>
  </div>

  <div id="new-folder-dialog" title="<%= t('.new_folder') %>" class="dialog-box">
    <%= render partial: 'folders/form' %>
  </div>
</section>
