<% title t('.title') %>


<div class="row collapse">
  <%= render 'folders_list' %>
  <section id="files" class="columns small-12 end">
    <div class="row buttons-line">
      <div class="small-12 columns">
        <div class="for-all row collapse">
          <div class="columns small-6">
            <%= render 'partials/search' %>
          </div>
          <div class="columns small-6 text-right">
            <%= link_to fa_icon('fw folder-open', text: t('.new_folder')), '#', class: [:button, :tiny, :secondary, :round], data: {:'reveal-id' => 'new-folder-modal'} if can?(:create, @folder) %>
            <%= link_to fa_icon('fw cloud-upload', text: t('.upload')), '#', class: [:button, :tiny, :secondary, :round], data: {:'reveal-id' => 'multiupload-files-modal'} if can? :create, @item  %>
            <% if params.has_key?(:history) and params[:history] == 'true' %>
              <%= link_to fa_icon('fw calendar', text: 'Pokaż tylko aktywne transfery'), url_for(:folder => :transfers, :history => false), class: [:button, :tiny, :secondary, :round] %>
            <% else %>
              <%= link_to fa_icon('fw calendar', text: 'Pokaż historię tranferów'), url_for(:folder => :transfers, :history => true), class: [:button, :tiny, :secondary, :round] %>
              <% end %>
          </div>
        </div>
        <div class="for-selection">
        </div>
      </div>
    </div>
    <% unless current_user.max_upload_size.nil? %>
      <div class="row">
        <div class="columns small-12">
          <p>Wykorzystujesz <%= number_to_human_size(current_user.files_uploaded_size) %> z <%= number_to_human_size(current_user.max_upload_size.gigabytes) %> dostępnych</p>
        </div>
      </div>
    <% end %>
    <div class="row sortbar">
      <div class="<%= @current_folder_id == :transfers ? 'small-5 medium-5 large-5' : 'small-7 medium-7 large-7' %> columns">
        <div class="list-icon">
          <%= label_tag nil, class: :'custom-check-box', id: :'select-all' do %>
            <i></i>
          <% end %>
        </div>
        <%= sort_link :name, t('.sort.name') %>
      </div>
      <% if @current_folder_id == :transfers %>
      <div class="small-2 medium-2 large-2 columns text-center">
        <%= sort_link :last_download, t('.sort.last_download') %>
      </div>
      <% end %>
      <div class="small-2 medium-2 large-2 columns text-center">
        <%= sort_link :size, t('.sort.size') %>
      </div>
      <div class="small-3 medium-3 large-3 columns text-center">
        <% if @current_folder_id == :transfers %>
          <%= sort_link :date, t('.sort.expires') %>
        <% else %>
          <%= sort_link :date, t('.sort.date') %>
        <% end %>
      </div>
    </div>
    <% if @empty_list %>

    <% else %>
      <%= form_for :selection do |f| %>
      <ul class="file-list scroll-pane" id="items-list">
        <% @subfolders.each do |folder| %>
          <%= render 'folders/list_folder', folder: folder, f: f %>
        <% end %>
        <%= render @items, f: f %>
      </ul>
      <% end %>
    <% end %>

  </section>
</div>

<div id="multiupload-files-modal" title="<%= t('.upload') %>" data-reveal class="reveal-modal small">
  <%= render :partial => 'multiupload' %>
</div>

<% if @folder %>
  <div id="new-folder-modal" title="<%= t('.new_folder') %>" data-reveal class="reveal-modal small">
    <%= render partial: 'folders/form' %>
  </div>
<% end %>
