<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>

<% title t('items.new.title') %>
<% breadcrumbs_admin link_to(t('items.index.title'), items_path),
                      link_to(t('items.multinew.title'), new_item_path) %>

<p id="notice"><%= notice %></p>

<div class="cols-container">
  <div class="main-column">
    <%= form_tag do %>
    <div class="group">
      <div class="field">
        <%= label_tag :files %>
        <%= file_field_tag :files, multiple: true %>
      </div>
    </div>
    <% end %>

  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>   

<%= link_to t('back'), items_path %>
