<h2>Utworzono transfer</h2>
<div class="row collapse">
  <div class="columns small-12">
    <p id="transfer-processing-status">
      <% if @transfer.done? %>
        <%= t('.done') %>
      <% else %>
        <%= t('.processing') %>
      <% end %>
    </p>
  </div>
</div>
<div class="row collapse">
  <div class="columns small-9">
    <%= text_field_tag 'clipboard-text', t_url(token: @transfer.token, locale: nil) %>
  </div>
  <div class="columns small-3">
    <%= link_to t('.copy'), '#', class: 'button tiny copy-to-clipboard', data: {clipboard_target: 'clipboard-text', dropdown: 'copied-dropdown'} %>
  </div>
  <div class="f-dropdown content" id="copied-dropdown" data-dropdown-content>
    <%= t('.copied') %>
  </div>
</div>
