<%= form_for(@transfer, remote: true, format: :js, html: {id: :'modal-transfer-form'}) do |f| %>
  <%= hidden_field_tag :form_id, 'modal-transfer-form' %>
  <%= render partial: 'l/partials/errors', object: @transfer.errors %>
  <div class="group">
    <div class="field">
      <%= f.label :name, t('.subject') %>
      <%= f.text_field :name  %>
    </div>
    <div class="field expires-in-field">
      <%= f.label :expires_in, t('.expires_in') %>
      <%= f.text_field :expires_in, data: {spin_box: true}, min: 0 %>
      <%= f.label :expires_in_infinity, class: [:gray, :button, :round, :tiny],
        id: :transfer_expires_in_infinity_label do %>
        <%= f.check_box :expires_in_infinity, {checked: f.object.forever?} %>
        <i></i>
        <span><%= t('.infinity') %></span>
      <% end %>
    </div>
    <div class="actions text-center">
       <%= f.button nil, data: {disable_with: t('.processing')}, class: [:button, :secondary, :round] %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  sakve._init_transfer();
</script>
