<%= form_for(@transfer, remote: true, format: :js, html: {id: :'modal-transfer-form'}) do |f| %>
  <%= hidden_field_tag :form_id, 'modal-transfer-form' %>
  <%= render partial: 'l/partials/errors', object: @transfer.errors %>
  <div class="group">
    <div class="field">
      <%= f.label :name, t('.subject') %>
      <%= f.text_field :name  %>
    </div>
    <div class="field">
      <%= f.label :recipients do %>
        <%= label_tag :show_recipients, class: 'custom-check-box' do %>
          <%= check_box_tag :show_recipients %>
          <i></i>
        <% end %>
        <%= t('.recipients') %>
      <% end %>
      <%= f.text_field :recipients, style: 'display: none;'  %>
    </div>
    <div class="field expires-in-field">
      <%= f.label :expires_in, t('.expires_in') %>
      <%= f.text_field :expires_in, data: {spin_box: true}, min: 0 %>
      <%= f.label :expires_in_infinity, class: [:gray, :button, :round, :tiny],
        id: :transfer_expires_in_infinity_label do %>
        <%= f.check_box :expires_in_infinity, {checked: f.object.forever?} %>
        <i></i>
        <span><%= t('.infinity') %></span>
      <% end %>
    </div>
    <% if f.object.new_record? %>
    <div class="field">
      <%= f.hidden_field :group_token %>
      <div class="fileupload-dropzone">
        <%= file_field_tag(:object, multiple: true, class: 'transfer-fileupload', data: { value: t('.fileupload', default: 'Select files'), file_upload: true, url: files_path(format: :json) }) %>
        <p><%= t('.or_drop') %></p>
      </div>
      <script type="text/html" charset="utf-8" id="transfer_uploaded_template">
        <%= render TransferFile.template %>
      </script>
    </div>
    <% end %>
  </div>
  <div class="actions text-center">
     <%= f.button nil, data: {text_send_after: t('.waiting_for_upload'), disable_with: t('.processing')}, class: [:button, :secondary, :round] %>
  </div>
  <% if f.object.new_record? %>
  <div class="uploaded-files">
    <%= render f.object.files %>
  </div>
  <% end %>
<% end %>
<script type="text/javascript">
  sakve._init_transfer();
</script>
