<%= form_for(@transfer, remote: true, format: :js, html: {id: :'modal-transfer-form'}) do |f| %>
  <%= hidden_field_tag :form_id, 'modal-transfer-form' %>
  <%= render partial: 'l/partials/errors', object: @transfer.errors %>
  <div class="group">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name  %>
    </div>
    <div class="field">
      <%= f.label :recipients %>
      <%= f.text_field :recipients  %>
    </div>
    <div>
      <%= f.label :expires_in, t('.expires_in') %>
      <%= f.text_field :expires_in, readonly: true, data: { default: 7 } %>
    </div>
    <div id="expires_in_slider"></div>
    <% if f.object.new_record? %>
    <div class="field">
      <%= f.hidden_field :group_token %>
      <%= file_field_tag(:object, multiple: true, class: 'transfer-fileupload', data: { value: t('.fileupload', default: 'Select files'), file_upload: true, url: files_path(format: :json) }) %>
    </div>
    <% end %>
  </div>
  <% if f.object.new_record? %>
  <div class="uploaded-files">
    <%= render f.object.files %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
