<li class="row transfer-file-<%= transfer.id %>"  data-context="true">
    <div class="name columns small-6">
      <%= transfer.name %>
      <% if (folder = transfer.saved_by_user(current_user)) %>
        <small><%= link_to folder.parent.name_for_select, items_path(folder: folder.parent_id), class: :tiny %></small>
      <% end %>
    </div>
    <div class="recipients columns small-4">
      <%= transfer.recipients_list.join(', ') %>
    </div>

    <div title="<%= l(transfer.expires_at, format: :long) unless transfer.forever? %>" class="columns small-2"> <%= transfer.expiration_distance %></div>

  <a href="" data-context-button><%= fa_icon('ellipsis-h') %></a>
  <div class="actions" data-context-target="true">
    <%= link_to t('.download'), download_transfer_path(token: transfer.token), target: '_blank' %>
    <%= link_to t('.save'), save_transfer_path(transfer, format: :js), data: {remote: true} %>
    <%= link_to t('.destroy'), transfer, class: "destroy", data: { confirm: t('.sure'), method: :delete, remote: true } %>
  </div>
</li>
