<!DOCTYPE html>
<html>
  <head>
    <title>Download File :: <%= @transfer.name %></title>
  </head>
  <body>
    <div>
      <h1>Pobieranie pliku: <%= @transfer.name %></h1>
      <% if @transfer.expired? %>
        <p>Plik nie jest już dostepny</p>
      <% else %>
        <p title="<%= l @transfer.expires_at, format: :long %>">Plik jest jescze dostępny przez <%= distance_of_time_in_words(Time.now, @transfer.expires_at) %></p>
        <p><%= link_to 'Pobierz', download_transfer_path(token: @transfer.token, format: :zip) %></p>
      <% end %>
    </div>
  </body>
</html>


