<% title "1000ideas Sakve - #{@transfer.name}" %>
<div class="row download">
  <div class="columns small-centered">
    <%= logo_tag %>
    <h1><small>Pobieranie pliku:</small> <%= @transfer.name %></h1>
    <% if !@transfer.object? %>
      <p>Plik jest jeszcze przetwarzany</p>
    <% elsif @transfer.expired? %>
      <p>Plik nie jest już dostepny</p>
    <% else %>
      <% cache([:content, @transfer]) do %>
        <h3>Zawartość</h3>
        <ul class="scroll-pane v-only">
        <% @transfer.content[0...100].each do |name| %>
        <li><%= name.encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '') %></li>
        <% end %>
        </ul>

        <% if @transfer.content.length > 100 %>
          <%= t(".and_more", count: @transfer.content.length - 100) %>
          <br /><br />
        <% end %>
      <% end %>
      <% unless @transfer.forever? %>
      <h3 title="<%= l @transfer.expires_at, format: :long %>">Plik jest jeszcze dostępny przez: <%= @transfer.expiration_distance %></h3>
      <% end %>
      <div class="buttons row collapse <%= 'double' if current_user %>">
      <%#= link_to fa_icon('cloud-download', text: t('.download')), download_transfer_path(token: @transfer.token, format: :zip), class: [:button, :secondary, :expand] %>
      <div class="columns download-button">
        <%= link_to fa_icon('cloud-download', text: content_tag(:span, t('.download'))), file_download_transfer_path(token: @transfer.token), class: [:button, :secondary, :expand, :round] %>
      </div>
      <% if current_user %>
      <div class="columns save-button">
      <%= link_to fa_icon('folder-open', text: content_tag(:span, t('.save'))), save_transfer_path(@transfer, format: :js), class: [:button, :secondary, :expand, :round], data: {remote: true} %>
      </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
