<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>

<% title t('transfers.edit.title')  %>
<% breadcrumbs_admin link_to(t('transfers.index.title'), transfers_path),
                     link_to(t('transfers.edit.title'), edit_transfer_path(@transfer)) %>

<p id="notice"><%= notice %></p>

<div class="cols-container">
  <div class="main-column">
    <%= render 'form' %>
  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>                     

<%= link_to t('back'), transfers_path %>
