<% title t('transfers.index.title') %>

<header>
  <%= link_to_function t('.new_transfer'), 'Sakve.file_transfer_open()', class: :button %>
</header>

<ul id="transfers-list" data-url="<%= url_for((params || {}).merge(partial: true)) %>">
    <%= render @transfers %>
</ul>

<div id="transfer-files-dialog" title="<%= t('.new_transfer') %>" class="dialog-box">
  <%= render partial: 'form' %>
</div>
