<%= form_for(@folder, html: {data: {remote: true}}) do |f| %>
  <div class="field">
    <%= f.label :parent_id %>
    <%= f.select :parent_id, options_for_select(Folder.names_tree_for_user(current_user), f.object.parent_id) %>
  </div>

  <%= button_tag t('.submit') %>
  <%= link_to t('.cancel'), '#', class: "button close" %>
<% end %>
