<%= form_for(@folder, html: {data: {remote: true}}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= button_tag t('.submit') %>
  <%= link_to t('.cancel'), '#', class: "button close" %>
<% end %>
