<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_title %></title>
    <%= tag :meta, name: :robots, content: 'noindex, nofollow' %>
    <%= stylesheet_link_tag 'login' %>
    <!--[if lt IE 9]><%= javascript_include_tag 'html5shiv' %><![endif]-->

    <% if Rails.env.production? %>
    <script type="text/javascript">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TT7DT8V');
    </script>
    <% end %>

    <%= javascript_include_tag 'login' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT7DT8V" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>
  </body>
</html>
