<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_title %></title>
    <%= tag :meta, name: :robots, content: 'noindex, nofollow' %>
    <%= stylesheet_link_tag 'login' %>
    <!--[if lt IE 9]><%= javascript_include_tag 'html5shiv' %><![endif]-->
    <%= javascript_include_tag 'login' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
