<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_title %></title>
    <meta name="description" content="<%= yield_description %>" />
    <meta name="keywords" content="<%= yield_keywords %>" />
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 9]><%= javascript_include_tag 'html5shiv' %><![endif]-->
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render partial: 'partials/header' %>
    <article class="content">
      <%= yield %>
    </article>
    <%= render partial: 'partials/footer' %>
  </body>
</html>
